<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Greeting Started: Serve Web Content</title>
</head>
<body>
    <p th:text="'Hello, World!'"/>
</body>
</html>